

<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 table-responsive">


        <h2>Lista de Programas Academicos</h2></br></br>

<a href='COORDINADOR/#new_pa'><button type="button" class="btn btn-primary">Agregar Programa Academico +</button></a></br></br></br>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Nombre</th>
                    <th>Facultad</th>
                    <th>Fecha de Creacion</th>
                    <th>N° de Resolucion</th>
                    <th>Estado Actual</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="n in names">
                    <td data-ng-show="n.codigo">{{n.codigo}}</td>
                    <td data-ng-show="n.nombre">{{n.nombre}}</td>
                    <td data-ng-show="n.fecha">{{n.facultad}}</td>
                    <td data-ng-show="n.fecha">{{n.fecha}}</td>
                    <td data-ng-show="n.resolucion">{{n.resolucion}}</td>
                    <td data-ng-show="n.estado">{{n.estado}}</td>       
                    <td ><a href="COORDINADOR/#" ng-click="delNom(n.nom)">[editar]   </a><a href="COORDINADOR/#programa" ng-click="delNom(n.codigo, $index)">  [eliminar]</a></td>   
                </tr>
            </tbody>
        </table>
 
    </div>        
    </div>